Django==5.2.13
psycopg2-binary==2.9.10
django-environ==0.12.0
Pillow==11.2.1
django-allauth==65.6.0
django-crispy-forms==2.4
crispy-bootstrap4==2025.6
python-decouple==3.8
reportlab==4.3.1
python-decouple==3.8
dj-database-url-3.1.2
django-extensions==4.1
ipython==9.12.0
stripe==15.0.1
paypalrestsdk==1.13.3
django-payments==3.1.0
django-invoicing==12.0.2
weasyprint==68.1

