{% load static %}
{% load theme_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fas fa-calendar-alt"></i> Party Hire
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'items:item_list' %}">
                        <i class="fas fa-gift"></i> Items
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact:contact' %}">
                        <i class="fas fa-envelope"></i> Contact
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center">
                {% include 'includes/date_selector.html' %}
                {% include 'includes/theme_switcher.html' %}
                {% include 'includes/cart_icon.html' %}
            </ul>
        </div>
    </div>
</nav>
